$colors: (
	'mint': rgb(151, 201, 190),
	'light-mint': rgb(222, 238, 237),
	'oat': rgb(251, 245, 230),
	'armygreen': rgb(144, 147, 123),
);


// Generate color classes
@each $key, $val in $colors {
	.#{$key} {
		color: #{$val};
	}
	.bg-#{$key} {
		background-color: #{$val};
	}
	.hover-bg-#{$key}:focus,
	.hover-bg-#{$key}:hover {
		background-color: #{$val};
	}
	
	.b--#{$key} {
		border-color: #{$val};
	}
	.hover-b--#{$key}:focus,
	.hover-b--#{$key}:hover {
		border-color: #{$val};
	}

}

// Generate vars for each color
:root {
	@each $key, $val in $colors {
		--#{$key}: 	#{$val};
	}
}
