.icon {
	fill: currentcolor;
	width: 32px;
	
	a:focus,
	a:hover & {
		fill: currentcolor;
	}
}

.icon-small svg {
	width: 24px;
}

.icon-tiny svg {
	width: 20px;
}

.hover {
	.icon:focus,
	.icon:hover {
		fill: var(--dark-blue);
	}
}

