// Default link color, hover, focus states.
a {
	color: var(--link-color);
	text-decoration: none;
	
	&:focus,
	&:hover {
		color: var(--link-hover-color);
		text-decoration: underline;
	}
	
	&.no-underline:focus,
	&.no-underline:hover, {
		text-decoration: none;
	}

	&:focus {
		outline-width: 2px;
		
		&:hover {
			outline: none;
		}
	}

	&:active {
		outline: none;
	}
}

.linkcolor {
	color: var(--link-color);
}

.link-hover-color:focus,
.link-hover-color:hover {
	color: var(--link-hover-color);
}

